* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
}

.links {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid red;
}

.form {
    border: 1px solid grey;
    border-radius: 15px;
    background: white;
    width: 50%;
    height: 390px;
    margin: 5em auto;
    padding: 10px 0 0 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form-item {
    position: relative;
}

.form-item input {
    width: 25vw;
    height: 35px;
    margin: auto;
    padding: 0px 20px;
    border-radius: 3px;
    border: 1px solid grey;
    outline: none;
}

.form-item label {
    position: absolute;
    top: 8px;
    padding: 1px 10px;
    margin-left: 10px;
    pointer-events: none;
    background: white;
    transition: .3s;
}

.form-item input:valid~label,
.form-item input:focus~label {
    color: blue;
    transform: translateY(-17px);
    font-size: 13px;
}

.signUp {
    height: 90%;
    margin: 1.5em 5em;
}

.login {
    margin: 2em 5em;
}

.header {
    text-align: center;
}

.errMsg{
    width: 12em;
    position: absolute;
    /* bottom: 31vh; */
    left: 60vw;
    color: red;
    font-style: oblique;
}

.signUpBtn,
.loginBtn {
    width: 100px;
    height: 28px;
    margin: 20px auto;
    border-radius: 3px;
    border: 1px solid grey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: grid;
    place-items: center;
}

.signUpBtn,
.loginBtn:hover {
    cursor: pointer;
}